extends layout

block content
    head
        link(rel="icon", type="image/png", href="/img/apple-music-icon.svg")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=0.97")
        link(rel="stylesheet", href="css/styles.css")
        title Amplify
    body
        main
            h1 Hola mundo Prueba
