extends layout

block content
  head
    link(rel="icon", type="image/png", href="/img/apple-music-icon.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/index.css")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Amplify
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap", rel="stylesheet")
  body
    header
      h1 Bienvenido a Amplify
      p Tu gestor de música personal

    section.featured
      h2 Destacados
      // Aquí puedes agregar contenido destacado si lo deseas

    section.search
      h2 Buscar Música
      form(action='/buscar', method='GET', class='search-bar')
        input(type='text', name='q', class='inputSearch', placeholder='Buscar canción, artista, álbum, género')
        button(type='submit', class='buttonSearch')
          i(class="ri-search-eye-line")

    section.recent-playlists
      h2 Playlists
      .grid
        a.card(href="/playlists") Todas las Playlists
          i.ri-playlist
      
    section.recent-playlists
      h2 Albumes
      .grid
        a.card(href="/albums") Todos los Álbumes
          i.ri-album

    section.recommendations
      h2 Recomendaciones para Ti
      ul.songs
        li
          a(href="/songs") Todas las Canciones
            | Ver todas las canciones
            i.ri-music-note
        // Agrega más botones para recomendaciones si lo deseas

    footer
      // Reproductor de música simple
      audio(src="audio.mp3", controls)
