doctype html
html
  head
    title Iniciar sesión
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/styles.css")
    link(rel="icon", type="image/png", href="/img/apple-music-icon.svg")

  body.login
    .container-form.register
      .information
        .info-childs
          h2 ¡¡Bienvenido nuevamente!!
          p ¿Aún no tienes una cuenta?
          input(type="button" value="Registrarse" id="sign-up")
      .form-information
        .form-information-childs
          h2 Iniciar Sesión
          p Inicia sesión con tu cuenta
          form.form.form-login(novalidate)
            div
              label
                i.bx.bx-envelope
                input(type="email" placeholder="Correo Electrónico" name="userEmail")
            div
              label
                i.bx.bx-lock-alt
                input(type="password" placeholder="Contraseña" name="userPassword")
            input(type="submit" value="Iniciar Sesión")
            .alerta-error Todos los campos son obligatorios
            .alerta-exito Te registraste correctamente
  script.
    document.getElementById('sign-up').addEventListener('click', function() {
      window.location.href = '/sigin';
    });
