extends layout

block content
  head
    link(rel="icon", type="image/png", href="/img/apple-music-icon.svg")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/musica.css")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Amplify
    link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap", rel="stylesheet")
  body
    header
      h1 Mi música
    main
      table
        thead
          tr
            th Título
            th Artista
            th Álbum
            th Acciones
        tbody
          tr
            td Shape of You
            td Ed Sheeran
            td Divide
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Blinding Lights
            td The Weeknd
            td After Hours
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Levitating
            td Dua Lipa
            td Future Nostalgia
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Drivers License
            td Olivia Rodrigo
            td SOUR
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Good 4 U
            td Olivia Rodrigo
            td SOUR
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Peaches
            td Justin Bieber
            td Justice
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Save Your Tears
            td The Weeknd
            td After Hours
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Bad Habits
            td Ed Sheeran
            td =
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Montero (Call Me By Your Name)
            td Lil Nas X
            td Montero
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
          tr
            td Kiss Me More
            td Doja Cat ft. SZA
            td Planet Her
            td
              button.agregar-favoritos
                i.ri-star-line
                | Agregar a Favoritos
              button.eliminar
                i.ri-delete-bin-line
                | Eliminar
              button.reproducir
                i.ri-play-line
                | Reproducir
    script.
      // Puedes agregar scripts adicionales aquí si es necesario
