extends layout

block content
    head
        link(rel="icon", type="image/png", href="/img/apple-music-icon.svg")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Amplify
        // Fonts
        link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap", rel="stylesheet")
        // CSS Estilos
        link(rel="stylesheet", href="css/playlists.css")
    body
        button#btn-add Agregar Playlist
        table
            thead
                tr
                    th Imagen de la Playlist
                    th Nombre
                    th Número de Canciones
                    th Acciones
            tbody
                //- Playlist 1
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+1", alt="Imagen de la Playlist 1")
                    td Playlist 1
                    td 15
                    td
                        button(class="btn-edit", onclick="editPlaylist(1)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(1)") Borrar
                        button(class="btn-play", onclick="playPlaylist(1)") Reproducir
                //- Playlist 2
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+2", alt="Imagen de la Playlist 2")
                    td Playlist 2
                    td 12
                    td
                        button(class="btn-edit", onclick="editPlaylist(2)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(2)") Borrar
                        button(class="btn-play", onclick="playPlaylist(2)") Reproducir
                //- Playlist 3
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+3", alt="Imagen de la Playlist 3")
                    td Playlist 3
                    td 8
                    td
                        button(class="btn-edit", onclick="editPlaylist(3)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(3)") Borrar
                        button(class="btn-play", onclick="playPlaylist(3)") Reproducir
                //- Playlist 4
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+4", alt="Imagen de la Playlist 4")
                    td Playlist 4
                    td 10
                    td
                        button(class="btn-edit", onclick="editPlaylist(4)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(4)") Borrar
                        button(class="btn-play", onclick="playPlaylist(4)") Reproducir
                //- Playlist 5
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+5", alt="Imagen de la Playlist 5")
                    td Playlist 5
                    td 14
                    td
                        button(class="btn-edit", onclick="editPlaylist(5)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(5)") Borrar
                        button(class="btn-play", onclick="playPlaylist(5)") Reproducir
                //- Playlist 6
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+6", alt="Imagen de la Playlist 6")
                    td Playlist 6
                    td 11
                    td
                        button(class="btn-edit", onclick="editPlaylist(6)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(6)") Borrar
                        button(class="btn-play", onclick="playPlaylist(6)") Reproducir
                //- Playlist 7
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+7", alt="Imagen de la Playlist 7")
                    td Playlist 7
                    td 9
                    td
                        button(class="btn-edit", onclick="editPlaylist(7)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(7)") Borrar
                        button(class="btn-play", onclick="playPlaylist(7)") Reproducir
                //- Playlist 8
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+8", alt="Imagen de la Playlist 8")
                    td Playlist 8
                    td 13
                    td
                        button(class="btn-edit", onclick="editPlaylist(8)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(8)") Borrar
                        button(class="btn-play", onclick="playPlaylist(8)") Reproducir
                //- Playlist 9
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+9", alt="Imagen de la Playlist 9")
                    td Playlist 9
                    td 7
                    td
                        button(class="btn-edit", onclick="editPlaylist(9)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(9)") Borrar
                        button(class="btn-play", onclick="playPlaylist(9)") Reproducir
                //- Playlist 10
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+10", alt="Imagen de la Playlist 10")
                    td Playlist 10
                    td 16
                    td
                        button(class="btn-edit", onclick="editPlaylist(10)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(10)") Borrar
                        button(class="btn-play", onclick="playPlaylist(10)") Reproducir
