extends layout

block content
    head
        link(rel="icon", type="image/png", href="/img/apple-music-icon.svg")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Amplify
        // Fonts
        link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap", rel="stylesheet")
        // CSS Estilos
        link(rel="stylesheet", href="css/playlists.css")

    body
        button#btn-add Agregar Playlist

        table
            thead
                tr
                    th Imagen de la Playlist
                    th Nombre
                    th Número de Canciones
                    th Acciones
            tbody
                //- Playlist 1
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+1", alt="Imagen de la Playlist 1")
                    td Playlist 1
                    td 15
                    td
                        button(class="btn-edit", onclick="editPlaylist(1)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(1)") Borrar
                        button(class="btn-play", onclick="playPlaylist(1)") Reproducir

                //- Playlist 2
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+2", alt="Imagen de la Playlist 2")
                    td Playlist 2
                    td 12
                    td
                        button(class="btn-edit", onclick="editPlaylist(2)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(2)") Borrar
                        button(class="btn-play", onclick="playPlaylist(2)") Reproducir

                //- Playlist 3
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+3", alt="Imagen de la Playlist 3")
                    td Playlist 3
                    td 8
                    td
                        button(class="btn-edit", onclick="editPlaylist(3)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(3)") Borrar
                        button(class="btn-play", onclick="playPlaylist(3)") Reproducir

                //- Playlist 4
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+4", alt="Imagen de la Playlist 4")
                    td Playlist 4
                    td 10
                    td
                        button(class="btn-edit", onclick="editPlaylist(4)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(4)") Borrar
                        button(class="btn-play", onclick="playPlaylist(4)") Reproducir

                //- Playlist 5
                tr
                    td
                        img(src="https://via.placeholder.com/150?text=Playlist+5", alt="Imagen de la Playlist 5")
                    td Playlist 5
                    td 14
                    td
                        button(class="btn-edit", onclick="editPlaylist(5)") Editar
                        button(class="btn-delete", onclick="deletePlaylist(5)") Borrar
                        button(class="btn-play", onclick="playPlaylist(5)") Reproducir

        //- Modal para agregar playlist
        .modal#modal-add-playlist
            .modal-content
                span.close(onclick="closeModal()") &times;
                h2 Add New Playlist
                form(action="/add-playlist", method="POST")
                    label(for="playlist-name") Playlist Name:
                    input(type="text", id="playlist-name", name="playlistName", required)
                    label(for="playlist-cover") Playlist Cover:
                    input(type="file", id="playlist-cover", name="playlistCover", accept="image/*", required)
                    h3 Select Songs:
                    ul
                        //- Lista de canciones para seleccionar
                        li
                            input(type="checkbox", id="song1", name="songs[]", value="1")
                            label(for="song1") Song 1
                        li
                            input(type="checkbox", id="song2", name="songs[]", value="2")
                            label(for="song2") Song 2
                        li
                            input(type="checkbox", id="song3", name="songs[]", value="3")
                            label(for="song3") Song 3
                        li
                            input(type="checkbox", id="song4", name="songs[]", value="4")
                            label(for="song4") Song 4
                        li
                            input(type="checkbox", id="song5", name="songs[]", value="5")
                            label(for="song5") Song 5
                    button(type="submit") Add Playlist

    script.
        document.getElementById('btn-add').addEventListener('click', function() {
            document.getElementById('modal-add-playlist').style.display = 'flex';
        });

        function closeModal() {
            document.getElementById('modal-add-playlist').style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == document.getElementById('modal-add-playlist')) {
                document.getElementById('modal-add-playlist').style.display = 'none';
            }
        }
