@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #232946;
}

header {
  background-color: #b8c1ec;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

header:hover {
  transform: translateY(-3px);
}

section {
  background-color: #b8c1ec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #232946;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
}

.search-bar {
  display: flex;
  align-items: center;
}

.inputSearch {
  flex-grow: 1;
  padding: 12px;
  border: 2px solid #b8c1ec;
  border-radius: 25px;
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.inputSearch:focus {
  border-color: #eebbc3;
}

.buttonSearch {
  background-color: #eebbc3;
  color: #232946;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonSearch:hover {
  background-color: #b8c1ec;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

a.card {
  display: block;
  background-color: #b8c1ec;
  border: 2px solid #eebbc3;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #232946;
  transition: all 0.3s ease;
}

a.card:hover {
  background-color: #eebbc3;
  color: #232946;
  transform: translateY(-3px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  padding: 12px;
  border-bottom: 2px solid #b8c1ec;
  transition: all 0.3s ease;
}

ul.songs li:hover {
  background-color: #eebbc3;
  transform: translateY(-3px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ul.songs li a {
  text-decoration: none;
  color: #232946;
}

audio {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
audio::-webkit-media-controls-panel {
  background-color: transparent;
  color: #232946;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-pause-button, audio::-webkit-media-controls-rewind-button, audio::-webkit-media-controls-seek-back-button, audio::-webkit-media-controls-seek-forward-button, audio::-webkit-media-controls-toggle-closed-captions-button, audio::-webkit-media-controls-mute-button, audio::-webkit-media-controls-volume-slider-container {
  color: #232946;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-pause-button {
  font-size: 24px;
}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
  font-size: 14px;
}
audio::-webkit-media-controls-volume-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 5px;
  background: #b8c1ec;
  border-radius: 10px;
  outline: none;
  margin: 0;
}
audio::-webkit-media-controls-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #eebbc3;
  border-radius: 50%;
  cursor: pointer;
}
audio::-webkit-media-controls-play-button {
  display: none;
}

/*# sourceMappingURL=index.css.map */
