/* Error: expected ")".
 *    ,
 * 94 |   clip-path: polygon(
 *    |                      ^
 *    '
 *   styles\sass\notfound.sass 94:22  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 94 \2502    clip-path: polygon(\a    \2502                       ^\a    \2575 \a   styles\\sass\\notfound.sass 94:22  root stylesheet';
}
