// Variables
$primary-color: #007bff
$secondary-color: #555
$success-color: #4CAF50
$danger-color: #f44336
$info-color: #008CBA
$border-radius: 4px // Borde redondeado

// Mixins
=button-style
  padding: 0.5em 1em
  margin: 0 0.5em
  border: none
  cursor: pointer
  border-radius: $border-radius
  transition: background-color 0.3s, color 0.3s

// Styles
body
  font-family: Arial, sans-serif
  margin: 20px 0 0 0 // Espaciado superior
  padding: 0
  background-color: #f4f4f4

header
  background-color: $primary-color
  color: white
  padding: 1em
  text-align: center

main
  padding: 2em

table
  width: 100%
  border-collapse: collapse
  margin-top: 1em

thead
  background-color: $secondary-color
  color: white

th, td
  padding: 1em
  text-align: left
  border: 1px solid #ddd

button
  @include button-style

#btn-add
  display: inline-block // Alineado a la derecha
  float: right
  margin: 1em 0 // Margen superior e inferior
  background-color: $primary-color
  color: white
  font-size: 1em
  text-align: center
  &:hover
    background-color: darken($primary-color, 10%)

.agregar-favoritos
  @include button-style
  background-color: $success-color
  color: white
  &:hover
    background-color: darken($success-color, 10%)

.eliminar
  @include button-style
  background-color: $danger-color
  color: white
  &:hover
    background-color: darken($danger-color, 10%)

.reproducir
  @include button-style
  background-color: $info-color
  color: white
  &:hover
    background-color: darken($info-color, 10%)

// Modal styles
.modal-background
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
  backdrop-filter: blur(5px) // Efecto de desenfoque

.modal-content
  display: flex
  flex-direction: column
  position: fixed
  z-index: 2
  left: 50%
  top: 60% // Posición ajustada
  transform: translate(-50%, -50%)
  width: 70% // Ancho reducido
  max-width: 400px
  background-color: #fff
  border-top: 5px solid $primary-color
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
  padding: 20px
  margin-top: 15px // Margen superior aumentado
  border-radius: $border-radius // Bordes redondeados

.close
  color: #aaa
  float: right
  font-size: 28px
  font-weight: bold
  &:hover, &:focus
    color: black
    text-decoration: none
    cursor: pointer

form
  display: flex
  flex-direction: column

  label
    margin: 5px 0 // Espacio vertical reducido

  input
    padding: 10px
    margin-bottom: 10px // Espacio inferior reducido

  button
    @include button-style
    background-color: $secondary-color
    color: white
    margin-top: 10px // Margen entre el campo de entrada y el